
.card {
  float: left;
}

.visit {
  border-radius: 4px;
}

.mapa {
  float: right;
}

/* FOOTER */

footer {
  background-color: #666;
  padding-top: 5em;
  padding-bottom: 40px;
  border-top: 5px solid #3381f3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer h2, a, p, span {
  color: #d1d1d1;
  flex-grow: inherit;
}

footer h2 {
  font-weight: 400;
}

.wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.artigo-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contactWrapper {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.artigo-footer .f {
  margin-bottom: -0.15rem;
}

.contact .social {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem;
  margin-bottom: 7px;
}


.contact .contactos {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.contact ul {
  padding: 0;

}

.contact ul li {
  margin-bottom: 15px;
  list-style: none;
}

.contact ul a {
  transition: -5s;
  text-decoration: none;
}

.contact ul a:hover {
  color: #fff;
}

.contact ul li::after {
  clear: both;
  content: "";
  display: block;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vide{
      margin-right: 20px;
      justify-content: center;
      align-items: center;

}